* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  color: #9c7480;
  font-family: "Clash Grotesk", sans-serif;
}

button {
  width: 4rem;
  padding: 1rem;
  border: none;
  color: #9c7480;
  font-family: "Clash Grotesk", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: fit-content;
  height: fit-content;
  background-color: #ffe5d9;
  padding: 0.5rem;
}

.output {
  width: 100%;
  height: 4rem;
  text-align: right;
  background-color: #f3c8b4;
  padding: 1rem;
}

.input {
  width: fit-content;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.dot {
  flex: 1;
}

.number {
  background-color: #ffcad4;
}

.operator {
  background-color: #eba4a3;
}

.misc {
  background-color: #f4acb7;
}
