* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  color: #e0d0d0;
  font-family: "Clash Grotesk", sans-serif;
}

button {
  width: 4rem;
  padding: 1rem;
  border: none;
  color: #5f5b59;
  font-family: "Clash Grotesk", sans-serif;
  cursor: pointer;
}

button:hover {
  transform: translateY(2px);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: fit-content;
  height: fit-content;
  background-color: #3f3d3d;
  padding: 0.5rem;
}

.output {
  width: 100%;
  height: 4rem;
  text-align: right;
  background-color: #5f5b59;
  padding: 1rem;
}

.input {
  width: fit-content;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.dot {
  flex: 1;
}

.number {
  background-color: #ffcad4;
}

.operator {
  background-color: #e9bbbb;
}

.misc {
  background-color: #f399a6;
}
